<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gwlDB.Properties.Settings.jsbGwlManDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=jsbGwlManDB;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="gwlDB.Properties.Settings.jsbGwlManDBConnectionString1"
            connectionString="Data Source=.;Initial Catalog=jsbGwlManDB;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>